.day-tab{
    width: 14.2%
}

.day{
    width:100%;
}

.tot-8{
    background: #c6ffc6 ;
}
/* When the numbers are the same there's no fade in the gradient */
.tot-7{
    background: linear-gradient(white 12%, #fffdc6 12%);
}
.tot-6{
    background: linear-gradient(white 25%, #fffdc6 25%);
}
.tot-5{
    background: linear-gradient(white 37%, #fff9c6 37%);
}

.tot-4{
    background: linear-gradient(white 50%, #fff9c6 50%);
}
.tot-3{
    background: linear-gradient(white 62%, #ffc6c6 62%);
}

.tot-2{
    background: linear-gradient(white 75%, #ffc6c6 75%);
}
.tot-1{
    background: linear-gradient(white 87%, #ffc6c6 87%);
}

.unsaved{
    color:red;
}

.THIS tr td:first-child{
    display:none;
}
.THIS tr th:first-child{
    display:none;
}

.recent-force-scroll{
    height:400px;
}

/* Form panel */
/* Backdrop stays below header */
.backdrop {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 9000;
}

/* Drawer */
.drawer {
    position: fixed;
    top: 3rem; /* start BELOW header */
    right: 0;
    width: 480px; /* smaller width */
    height: calc(100% - 3rem); /* only below header */
    background: white;
    box-shadow: -2px 0 6px rgba(0,0,0,0.15);

    transform: translateX(100%);
    transition: transform 0.2s ease;
    z-index: 9001;

    display: flex;
    flex-direction: column;
}

.drawer.open {
    transform: translateX(0);
}

.drawer-header {
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
}

.drawer-body {
    padding: 0.4rem;
}

.my-card {
    display: block;
}