h1 {
  display: block;
}

#header {
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #333;
  background-color: #CCC;
  border-bottom: 3px solid #333;
}

#grid-container,
#filter-container,
#button-container {
  text-align: center;
}

#filter-container {
  border-top: 1px solid #1797c0;
}

#filter-container div {
  display: inline-block;
  padding: 10px;
}

@media(max-width: 500px) {
  #container {
    font-size: 13px;
  }
}

.og-grid {
  margin: 0 auto;
  border-spacing: 0;
}

.og-grid td,
.og-grid th {
  padding: 5px;
  font-weight: normal;
  vertical-align: middle;
}

.og-rowheader {
  color: #1468b6;
  background-color: #cfeef8;
  border-right: 1px solid #1797c0;
}

.og-colheader {
  color: #1468b6;
  background-color: #cfeef8;
  border-bottom: 1px solid #1797c0;
}

.og-rowheader.og-colheader {
  border: none;
}

.og-row:nth-child(2n) td,
.og-row:nth-child(2n) td input {
  background-color: #ebf8fc;
}

.og-cell[data-og-type="doextra:TimeEntry"] {
  position: relative;
  padding: 0;
}

.og-cell[data-og-type="doextra:TimeEntry"].show-popup:before,
.og-cell[data-og-type="doextra:TimeEntry"].show-popup:after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  display: block;
  height: 100%;
  width: 6px;
  background-color: #cfeef8;
}

.og-cell[data-og-type="doextra:TimeEntry"].show-popup:before {
  left: 0;
}

.og-cell[data-og-type="doextra:TimeEntry"].show-popup:after {
  right: 0;
}

.og-cell[data-og-type="doextra:TimeEntry"] input {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

.og-row .og-cell[data-og-type="doextra:TimeEntry"] input:hover {
  color: #1468b6;
  background-color: #cfeef8;
}

.og-row .og-cell[data-og-type="doextra:TimeEntry"] input:focus,
.og-row .og-cell[data-og-type="doextra:TimeEntry"].show-popup input {
  z-index: 2;
  outline: none;
  color: #1468b6;
  background-color: #cfeef8;
  box-shadow: 0 0 8px #1797c0;
}

.og-cell[data-og-type="doextra:TimeEntry"].invalid input,
.og-cell[data-og-type="doextra:TimeEntry"].invalid input:hover,
.og-cell[data-og-type="doextra:TimeEntry"].invalid input:focus {
  color: red;
  background-color: #FFE3E3;
}

.og-row .og-rowheader.cellhover,
.og-headerrow .og-colheader.cellhover,
.og-row .og-rowfooter.cellhover,
.og-footerrow .og-colfooter.cellhover { 
  color: white;
  background-color: #1797c0;
}

.og-cell[data-og-type="doextra:TimeEntry"] .extra-popup {
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  padding: 5px;
  text-align: left;
  background-color: #cfeef8;
  box-shadow: 0 0 8px #1797c0;
}

.og-cell[data-og-type="doextra:TimeEntry"] .extra-popup:focus {
  outline: none;
}

.og-cell[data-og-type="doextra:TimeEntry"].show-popup .extra-popup {
  visibility: visible;
  opacity: 1;
}

.og-cell[data-og-type="doextra:TimeEntry"] .extra-popup .billable-checkbox {
  cursor: pointer;
  position: relative;
  padding: 3px 3px 3px 18px;
}

.og-cell[data-og-type="doextra:TimeEntry"] .extra-popup .billable-checkbox:before {
  content: "";
  position: absolute;
  left: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid #1468b6;
  border-radius: 2px;
}

.og-cell[data-og-type="doextra:TimeEntry"] .extra-popup .billable-checkbox:hover:before {
  box-shadow: inset 1px 2px 1px rgba(150, 150, 150, 0.5);
}

.og-cell[data-og-type="doextra:TimeEntry"] .extra-popup .billable-checkbox.checked:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #1468b6;
  border-right: 2px solid #1468b6;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}

.og-cell[data-og-type="doextra:TimeEntry"].show-popup .extra-popup textarea {
  display: block;
}

/*.og-cell[data-og-type="doextra:TimeEntry"]::before {
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 5px;
}

.pending::before {
  content: ". . .";
}

.success::before {
  content: "";
  width: 3px;
  height: 8px;
  border: solid green;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}*/